@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.img-responsive{
    object-fit: contain;
    max-width: 100%;
    display: inline-block;
}
